<div class="jumbotron d1">
    <h1 class="t1">Lleva tus clases a otro nivel</h1>
    <p class="t2">¡Únete a los colegios innovadores usando SuperKiddos para llevar las clases a tus alumnos a otro nivel.</p>
    <a class="btn fondo btn-lg" href="#" role="button">Registrate gratis ahora...</a>

</div>
<div class="jumbotron d2">
    <h1 class="t3">Cómo funciona SuperKiddos</h1>
    <p class="t4">En SuperKiddos crea un poderoso circuito de aprendizaje entre estudiantes y maestros</p>
    <div class="card-deck">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

</div>