<div class=" fondo">
    <footer>
        <div>
            <p class="text-center edit">Para mayor información</p>
            <p class="text-center edit"> Ingrese su correo para que podamos brindarle la información que necesite, tambien puede escribirnos a:
                <a href="https://api.whatsapp.com/send?phone=51987687058" aria-hidden="true"><i class="fa fa-whatsapp"></i> 987-687-058</a>
            </p>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 ">

                    <ul>Nosotros
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Blog</a></li>

                    </ul>
                </div>
                <div class="col-sm-4 col-md-3">

                    <ul>Recursos
                        <li><a href="#">Terminos y condiciones</a></li>
                        <li><a href="#">Libro de Reclamaciones</a></li>

                    </ul>
                </div>
                <div class="col-sm-4 col-md-3">

                    <ul>Conctacto

                        <li><a href="#">Politicas de Privacidad</a></li>
                        <li><a href="#">Politicas de Cookies </a></li>

                    </ul>
                </div>

            </div>

        </div>
        <div>
            <p class="firma">de SuperKiddos con <i class="fas fa-heart"></i> para todo el mundo</p>
        </div>
    </footer>
</div>